fastapi
uvicorn[standard]
python-dotenv
google-generativeai
openai-whisper
torch
torchvision
torchaudio
nougat-ocr
sentence-transformers
faiss-cpu
timm==0.5.4
transformers==4.25.1
huggingface-hub==0.19.4
python-multipart
PyMuPDF

sqlmodel
psycopg2-binary

celery[redis]
flower

pydub
ffmpeg-python

langchain-google-genai


sentence-transformers
faiss-cpu
langchain-text-splitters

python-docx


pip install bcrypt==3.2.0


pip install "python-jose[cryptography]"

#frontend> npm install jwt-decode

#frontend> npm install react-router-dom


